@model IEnumerable<VWEB.Models.Postagem>

@{
    ViewBag.Title = "Index";
}

<h2>Mensagens da Villa</h2>
<hr />
<div id="mensagensDaVilla" class="row" style="width:90%">

    @foreach (var item in Model)
    {
        <a class="card mr-4" style="width:300px" href="/">
        <div class="view">
            <img src="@item.ImagemCapa" width="220" height="150" />
        </div>
        <div class="card-body">
            <h5 class="text-success">
                @item.Titulo
            <h5 />
            <p class="card-text">
                @item.Texto
            </p>
        </div>
        </a>
     }

</div>
